/*

--- 01 TYPOGRAPHY

-FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
  Default: 400
  Medium: 500
  Semi-bold: 600
  Bold: 700

- Line Heights:
  Default: 1
  Small: 1.05
  Medium: 1.2
  Paragrpah Default: 1.6

- Letter spacing
  0.5px
  0.75px

--- 02 COLORS

- Primary: #e67e22;

- Tints: 
  1 - #fdf2e9;
  2 - #fae5d3;
- Shades:
  1 - #cf711f;
- Accents: 
- Greys
  #555;
  #333;
  #ddd;
  #999;

- Green: #51cf66;
- Lime: #94d82d;
- Yellow: #ffd43b;

--- 03 SHADOWS

--- 04 BORDER-RADIUS
  Default: 9px;
  - 11px;

--- 05 WHITESPACE

- Spacing System (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #e67e22;
    --tint-1: #fdf2e9;
    --tint-2: #fae5d3;
    --shade-1: #cf711f;
    --grey-1: #555;
    --grey-2: #333;
    --grey-3: #ddd;
    --grey-4: #999;
    --green: #51cf66;
    --lime: #94d82d;
    --yellow: #ffd43b;
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: var(--grey-1);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    font-weight: 700;
    color: var(--grey-2);
    letter-spacing: -0.5px;
}

.heading-primary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

.heading-secondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
}

.heading-tertiary {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
    display: inline-block;
    background-color: var(--primary);
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;

    /* Put transition on original state */
    transition: all 300ms;
}

.btn--full:link,
.btn--full:visited {
    background-color: var(--primary);
    color: #fff;
}

.btn--full:hover,
.btn--full:active {
    background-color: var(--shade-1);
}

.btn--outline:link,
.btn--outline:visited {
    background-color: #fff;
    color: var(--grey-1);
}

.btn--outline:hover,
.btn--outline:active {
    background-color: var(--tint-1);

    /* border: 3px solid #fff; */

    /*Trick to add border inside */
    box-shadow: inset 0 0 0 3px #fff;
}

/* HELPER/SETTINGS CLASSES */

.margin-right-sm {
    margin-right: 1.6rem !important;
}

.margin-bottom-md {
    margin-bottom: 4.8rem !important;
}

.center-text {
    text-align: center;
}

strong {
    font-weight: 500;
}
